@import url(libs/material.min.css);

/* See <http://google.github.io/material-design-icons/#setup-method-2-self-hosting>.
.material-icons is already defined in material.min.css but included here again because it has some differences to that,
so probably provides better compatibility. */
@import url(libs/material-icons.css);

main.mdl-layout__content {
	/* Leave space for the bottom toolbar. */
	margin-bottom: 67px;
}


.mdl-layout__header-row .mdl-layout__title {
	/* Shorten overly long names. */
	text-overflow: ellipsis;
	overflow-x: hidden;
	/* overflow-y: visible; */
	/* Makes the overly long name not continue growing. */
	flex-shrink: 1;
	/* http://stackoverflow.com/a/12131365 */
	min-width: 0;
	/* Without this, line-height is 1 and Chrome weirdly cuts off the bottom of the text and moves it down a bit when applying overflow-x:hidden. */
	line-height: 1.5;
}


/* Sidebar menu */

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	/* Shorten overly long names. */
	text-overflow: ellipsis;
	overflow: hidden;
}


/* Bottom toolbar */

#tlb_bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 16px;
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,.14),0 -3px 1px -2px rgba(0,0,0,.2),0 -1px 5px 0 rgba(0,0,0,.12);
	z-index: 3;
	background-color: white;
}

#tlb_bottom form {
	display: flex;
}


/* List */

#lst_items {
	/* Override user agent style to reduce space at the top. */
	margin: 0;
}

#lst_items .mdl-list__item {
	/* Reduce space between items. Also make the li smaller and the checkbox bigger so that the checkbox has a larger click area. */
	padding: 0 16px;
	min-height: 0;

	padding-right: 0;

	background-color: white;
	transition: background-color 300ms;

	/* Make dragging work better by making text unselectable. */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent native popup on long press. I think. */
	-webkit-touch-callout: none;

	/* Maybe helps prevent 300ms delay? */
	touch-action: manipulation;
}

#lst_items .mdl-list__item.long_press {
	background-color: gray;
}

#lst_items .mdl-list__item .mdl-checkbox {
	height: 40px;
}

/* Adjust positions of helper spans to accomodate for adjusted height and padding. */

#lst_items .mdl-list__item .mdl-checkbox .mdl-checkbox__focus-helper,
#lst_items .mdl-list__item .mdl-checkbox .mdl-checkbox__box-outline {
	top: 11px;
}

#lst_items .mdl-list__item .mdl-checkbox .mdl-checkbox__ripple-container {
	top: 2px;
}

/* Style checked items more obviously as done. */
#lst_items .mdl-checkbox.is-checked .mdl-checkbox__label {
	text-decoration: line-through;
	color: #757575;
}

#lst_items .mdl-list__item .mdl-list__item-secondary-action {
	height: 40px;
	text-decoration: none;

	padding-left: 8px;
	padding-right: 24px;

	/* Make sure drag handle icon is vertically middle-aligned in secondary action (since we increased the height). */
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}